
header, nav, main, footer { display: block; }
body { background-color: #0000ff;
       font-family: Verdana, Arial, sans-serif;
}
#wrapper { width: 960px;
           margin: auto;
		   background-color: #rbg(0, 255, 0);
		   color: #330000;
		   box-shadow: 5px 5px 5px #000000;
}
h1 { background-image: url(images/logo.gif);
     background-repeat: no-repeat;
     background-color: #0000ff;
	 height: 110px;
	 font-family: Georgia, "Times New Roman", serif;
	 font-size: 4.5em;
     padding-left: 220px;
	 padding-top: 20px;
	 text-shadow: 3px 3px 3px #90745D;
	 margin-bottom: 0;
}
nav { padding-top: 10px;
      float: left;
      width: 200px; 
}
nav ul { list-style-type: none; 
       padding-left: 20px;
	 }
nav li { padding-bottom: 5px;
       font-weight: bold;
}
nav a { text-decoration: none; }
nav a:link { color: #hsl(0, 100%, 50%);
nav a:visited{ color: #90745D; }
nav a:hover { color: #rbg(0, 255, 0); }


main { background-color: #0000ff;
          margin-left: 200px;
          padding: 1px 20px 20px 20px;   
		  min-height: 300px;
}
main img { float: right;
              padding: 20px;
}

footer { background-color: #0000ff;
       margin-left: 200px;
       padding: 20px;
       text-align: center;
	   font-size: small;
	   font-style: italic;
}